<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for post in post_list %}
    {{ post.title }} <br>
    {{ post.author }} <br>
    {{ post.content }} <br>
    {{ post.created_at }} <br>
    <p>-----------------------------------</p>
    {% for comment in post.comment_set.all %}
        {{ comment.content }} {{ comment.author }}
        <p>-----------------------------------</p>
    {% endfor %}
    댓글:
    <form action="{% url 'comment-create' pk=post.id %}" method="post">{% csrf_token %}
        <textarea name="content" id="" cols="30" rows="2"></textarea>
        <input type="submit" value="댓글작성">
    </form>
    후원하기 금액:
    <form action="{% url 'pay-view' pk=post.id %}" method="post">{% csrf_token %}
        <input type="text" name="price" value="0">
        <input type="submit" value="후원하기">
    </form>

    <p>-----------------------------------</p>

    <a href="{% url 'post-create' %}">글 쓰기</a><br>

{% endfor %}

</body>
</html>